<section class="section sale-section">
  <div class="container">
    <h2 class="sale-title section-title">Sale</h2>

    <div class="sale-inner">
      <ul class="sale-list">
        <li class="sale-item">
          <img
            src="/img/sale/sale-1.png"
            alt="watch 1"
            class="sale-img"
            width="96"
            height="100"
          />
        </li>

        <li class="sale-item">
          <img
            src="/img/sale/sale-2.png"
            alt="watch 2"
            class="sale-img"
            width="96"
            height="100"
          />
        </li>

        <li class="sale-item">
          <img
            src="/img/sale/sale-3.png"
            alt="watch 3"
            class="sale-img"
            width="96"
            height="100"
          />
        </li>

        <li class="sale-item">
          <img
            src="/img/sale/sale-4.png"
            alt="watch 4"
            class="sale-img"
            width="96"
            height="100"
          />
        </li>

        <li class="sale-item">
          <img
            src="/img/sale/sale-5.png"
            alt="watch 5"
            class="sale-img"
            width="328"
            height="398"
          />
        </li>
      </ul>

      <div class="sale-content">
        <h3 class="sale-content-title">
          MARQ® Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="sale-content-tag">Product tag: 706587</p>

        <div class="sale-prices">
          <span class="sale-current-price">€1500</span>
          <span class="sale-old-price">€3000</span>
        </div>

        <p class="sale-product-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>

        <ul class="sale-product-categories">
          <li class="sale-product-category">Fused carbon fiber</li>
          <li class="sale-product-category">Grade-5 Titanuim</li>
          <li class="sale-product-category">Athlete</li>
          <li class="sale-product-category">Golfer</li>
          <li class="sale-product-category">Commander</li>
          <li class="sale-product-category">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
